html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.active {
    border: 1px solid black;
}

.turn {
    margin-left: 30%;
    width: 40%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.turn h2 {
    padding: 5%;
}
.winner {
    margin-top: 0;
    width: 100%;
    text-align: center;
}
.board {
    width: 30vw;
    height: 30vw;
    margin-left: 35vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board div {
    height: 10vw;
    width: 10vw;
    text-align: center;
}

.board div button {
    padding: 45%;
    border: none;
    background-color: white;
    cursor: pointer;
}

/*Creates the board with boarders*/
.TopCenter {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.RightCenter {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.BottomCenter {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.LeftCenter {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Center {
    border: 1px solid black;
}